<!DOCTYPE html>
<html>
<head>
	<title>Records - {% block title %}{% endblock %}</title>
	{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/one-page-wonder.min.css') }}">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
	{% endblock %}
</head>

<body ng-app = "app" ng-controller = "recordsController" >

	{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/">Recording System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#/records/showAddPage" ng-click = "refreshFormData()">Add New Record</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/records/listPage" data-toggle="modal" data-target="#quickRecordModal" ng-click = "refreshFormData();">Quick Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-click = "refreshFormData()" href="#/records/listPage">List</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   	{% endblock %}

   	<header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
			<div ng-view></div>
		</div>
      </div>
    </header>

	{% block footer %}

    {% endblock %}

    {{ include('/pages/modalWrapper.html.twig') }}
    {{ include('/pages/removeModal.html.twig') }}

	{% block javascripts %}
		<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/angular.min.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
         <script src="{{ asset('js/notify.min.js') }}"></script>
        <script src="{{ asset('js/app/app.js') }}"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    {% endblock %}
</body>
</html>