html,body,h5,h4,h3,h2,h1 {
	font-family: 'Roboto', sans-serif !important;
}
.masthead {
	min-height: 500px;
}
.form-horizontal .control-label{
   text-align:left !important; 
}
.help-block {
	float: left;
	color: #d95a5a;
	position: absolute;
}
.header.masthead {
	background-color: #fff !important;
	padding-top: 159px !important;
    margin-bottom: 68px !important;
}
.form-wrapper{
	background-color: #e2e4e7;
	padding-top: 30px;
}
.records-datatable td{
	color:#212529;
}
.btn-primary.disabled, .btn-primary:disabled{
	color: #fff;
    background-color: #7b7b7b;
    border-color: #fcfdff;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #7b7b7b!important;
    border-color: #fcfdff!important;
}
.form-wrapper-record {
	max-width: 500px;
	text-align: center;
    margin: 0px auto;
}
.left-aligned {
	color: #7c7c7c;
	float: left;
	margin-top: 5px;
}
.welcome-message {
	color: #ccc;
	font-size: 60px;
}
.navbar-custom{
	background-color: #ff9e9e !important;
}
.bg-black {
    background-color: #e2e4e7!important;
}
.main-header-custom {
	font-size: 37px;
	color: #ccc;
}