
<p class="main-header-custom" >Listing Page</p>

<table class="table records-datatable" datatable id = "records_datatable">
	<thead class="thead-dark">
		<tr>
			<th>Name</th>
			<th>Password</th>
			<th>Email Address</th>
			<th>Gender</th>
			<th>Description</th>
			<th>Edit</th>
			<th>Remove</th>
		</tr>
	</thead>
</table>



