
<div class="row justify-content-center form-wrapper form-wrapper-record" id="form-wrapper">
	
	<form class="text-center col-9 form-horizontal"  name="recordForm" ng-submit="submitRecords(recordForm.$valid)" novalidate>
		<!-- {% verbatim %}
			<div  ng-show = "recordForm.$invalid && !recordForm.$pristine" class="alert alert-warning alert-dismissible fade show" role="alert">
			  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    	<span aria-hidden="true">&times;</span>
			  	</button>
			  	<strong>{{error.status}}</strong> {{error.message}}
			</div>
		{% endverbatim %} -->
		<div class="form-group ">
			<input type="hidden" name="form[id]" ng-model = "formData.id">
		   	<label class="left-aligned">Full Name:</label>
		    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'ng-model' : 'formData.name', 'ng-required' : 'true'}}) }}
			
			{% verbatim %}
				<p ng-show="recordForm['form[name]'].$invalid && !recordForm['form[name]'].$pristine" class="help-block">Name is required.</p>
			{% endverbatim %}

		</div>

		<div class="form-group ">
			<label class="left-aligned">Email Address:</label>
			<input type="email" class= "form-control" placeholder="Email address" name="form[email_address]" ng-model = "formData.email_address" autocomplete="off" ng-required = "true" ng-pattern = "/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
			{% verbatim %}
				<p ng-show="recordForm['form[email_address]'].$invalid && !recordForm['form[email_address]'].$pristine" class="help-block">Email Address is invalid.</p>
			{% endverbatim %}
		</div>
		<div class="form-group ">
			<label class="left-aligned">Password:</label>
		    {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'ng-model' : 'formData.password', 'ng-required' : 'true' }}) }}
			
		    {% verbatim %}
				<p ng-show="recordForm['form[password]'].$invalid && !recordForm['form[password]'].$pristine" class="help-block">Password is required.</p>
			{% endverbatim %}
		</div>
		<div class="form-group ">
			<label class="left-aligned">Gender:</label>
		    {{ form_widget(form.gender, { 'attr': {'class': 'form-control', 'ng-model' : 'formData.gender', 'ng-required' : 'true' }}) }}
			
		    {% verbatim %}
				<p ng-show="recordForm['form[gender]'].$invalid && !recordForm['form[gender]'].$pristine" class="help-block">Gender is required.</p>
			{% endverbatim %}
		</div>
		<div class="form-group ">
			<label class="left-aligned">Description:</label>
		    {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'ng-model' : 'formData.description', 'ng-required' : 'true' }}) }}
			
		    {% verbatim %}
				<p ng-show="recordForm['form[description]'].$invalid && !recordForm['form[description]'].$pristine" class="help-block">Gender is required.</p>
			{% endverbatim %}
		</div>
		<div class="form-group ">
			{% verbatim %}
		   	 	<button type="submit"  loader-icon  class="btn btn-primary" ng-disabled="recordForm.$invalid || busy" ng-bind = "submitStatus();"></button>
			{% endverbatim %}
		</div>
	</form>	
