{% verbatim %}
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel">Remove Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <label>Are you sure you want to remove <span id= "temp_label" ng-bind="temp.name"></span>?</label>
      </div>
      <div class="modal-footer">
        <button type="button"   class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"   class="btn btn-danger" ng-disabled = "busy" ng-click = "removeRow(temp.id,$event)">Remove</button>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}

